<!--A list of collapsable panels-->
<div class="panel-group" id="{{parentId}}">
    <div class="navbar nabar head-menu">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#panel">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="panel">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a id="add-button" role="presentation" href="#" ng-click="addItem()">Добавить магазин</a>
                </li>
            </ul>
        </div>
    </div>

    <item class="panel panel-primary " ng-repeat="item in list" item="item" type="collapsable" parent-id="parentId"></item>
</div>