.shop-list .panel-heading:hover {
    cursor: pointer;
}

.shop-list .navbar {
    margin: 0;
}

.shop-list .panel-heading {
    background: #337ab7;
    color: #fff;
}

.shop-list .head-menu {
    background: #333;
    margin-bottom: 20px;
}

.list-menu {
    float: right;
}

.list-menu a {
    color: #fff;
}

.hidden {
    display: none;
}

.icon-bar {
    background: #fff;
}

.panel-title {
    float: left;
}

.panel-heading {
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.panel-heading a {
    margin-right: 15px;
}

.panel-heading h3 {
    padding: 15px;
}

.panel-heading:after {
    content: "";
    clear: both;
    display: block;
}

item, list {
    display: block;
}

.a-button {
    background-color: transparent;
    border: none;
    color: #337ab7;
    padding-left: 15px;
}

.a-button:hover {
    text-decoration: underline;
}

/*-----------------------------------------------------------------------------------------------------*/
.list-table {
    padding: 15px;
}

.list-table a {
    padding-left: 15px;
}

.table-row {
    border-bottom: 1px solid gray;
    padding: 5px 0 5px 0;
}

@media (min-width: 768px) {
    .col-sm-4 {
        width: 33.33333333%;
        float: left;
    }
}

@media (max-width: 767px) {
    .table-header {
        display: none;
    }

    .table-row {
        border-bottom: 2px solid gray;
    }

    .item {
        border-bottom: 1px solid gray;
    }

    .table-row a, .table-row button {
        padding-left: 0;
        padding-bottom: 5px;
        display: block;
    }

    .list-menu, .panel-title {
        float: none;
    }

    .list-menu li {
        display: inline-block;
        margin-right: 0;
        margin-left: 15px;
    }

    .show-innerList {
        display: block;
        padding-bottom: 5px;
    }

    .col-sm-4 {
        margin-bottom: 10px;
    }
}