.shop-list .panel-heading:hover {
    cursor: pointer;
}

.shop-list .navbar {
    margin: 0;
}

.shop-list .panel-heading {
    background: #337ab7;
    color: #fff;
}

.shop-list .head-menu {
    background: #333;
    margin-bottom: 20px;
}

.list-menu {
    float: right;
}

.list-menu a {
    color: #fff;
}

.hidden {
    display: none;
}

.icon-bar {
    background: #fff;
}

.panel-title {
    float: left;
}

.panel-heading {
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.panel-heading a {
    margin-right: 15px;
}

.panel-heading h3 {
    padding: 15px;
}

.panel-heading:after {
    content: "";
    clear: both;
    display: block;
}

item, list {
    display: block;
}

.a-button {
    background-color: transparent;
    border: none;
    color: #337ab7;
    padding-left: 15px;
}

.a-button:hover {
    text-decoration: underline;
}

/*-----------------------------------------------------------------------------------------------------*/
.list-table {
    padding: 15px;
}

.list-table a {
    padding-left: 15px;
}

.table-row {
    border-bottom: 1px solid gray;
    padding: 5px 0 5px 0;
}