<!--An item for a collabsable list without an inner list-->
<div class="panel-heading" ng-mousedown="initMover()">
    <h3 class="panel-title" data-target="#panel-{{item.id}}" data-toggle="collapse" data-parent="{{parentId}}" ng-click="closeAll()">
        {{item.number + 1}}. {{item.name}}
    </h3>
    <div class="navbar list-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" ng-click="toggleEditMode()">
                    Редактировать
                </a>
            </li>
            <li>
                <a href="#" ng-click="deleteItem()">
                    Удалить
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="panel-collapse collapse" id="panel-{{item.id}}">
    <div class="panel-body">
        <ng-include src="bodyUrl"></ng-include>
        <list list="item.innerList.list" type="item.innerList.type" ng-show="innerListVisible"></list>
    </div>
</div>